.nav{
  background-color: #5e3a4e;
  width:102%;
  height:80px;
  opacity: 0.9;
  top:0;
  vertical-align: top;
  position: fixed;
  font-family: "Vidaloka", serif;
  z-index: 1;
}
.cover{
  position: cover;
  padding: 0;
}
.logo{
  padding-left: 10px;
  height: 11%;
  width: 11%;
}
.tags{
  display: inline-block;
  top:50%;
  padding: 0% 3%;
}
.tags a:link{
  color:white;
  font-size: 18px;
  display: inline-block;
  padding: 0% 3%;
}
.tags a:visited{
  color:white;
  font-size: 18px;
  display: inline-block;
  padding: 0% 3%;
}
h1{
    margin-left:40px;
    font-family:'Cinzel Decorative', cursive;
    font-size:40px;
    color:#695049;
    
}
h4 {font-family: "Vidaloka", serif;
    font-size:25px;
    margin-left:70px;
    margin-bottom:20px;
    
}
#image{
    height:225px;
    width:225px;
    border:2px solid #f1eee9;
}
h3{
    margin-left:40px;
    font-family:'Cinzel Decorative', cursive;
    font-size:40px;
    color:#695049;
}
h6{
    text-align:right;
    font-family: "Vidaloka", serif;
    font-size:30px;
        color:#695049;
    margin-right: 100px;

}
.scul{
    margin-left:20px;
}

#i02{
    height:225px;
    width::225px;
    border-radius:50%;
    border:2px solid #f1eee9;
}
#i01{
     border-radius:50%;
     border:2px solid #f1eee9;
    width:225px;
    height:225px;
}
#i03
{
    border-radius:50%;
     border:2px solid #f1eee9;
    width:240px;
    height:225px;
}
#i04
{
    border-radius:50%;
     border:2px solid #f1eee9;
    width:220px;
    height:225px;
}
#is{
    height:205px;
    width::625px;
    border-radius:50%;
}
#imgs{
    border-radius: 50%;
     border:2px solid #f1eee9;
     height:225px;
    width:225px;
}
.footer-container{
    background: #f1eee9;
    position: relative;
    padding: 5% 7%;
  }
  .footer-container #footer{
    color: #777777;
  }
  .footer-container #footer h2{
    font-size: 35px;
    text-align: top;
    font-family: "Vidaloka", serif;
    color: #695049;
    margin-bottom: 20%;
    text-align: left;
  }
  .footer-container #footer h4{
    font-size: 25px;
    font-family: "Vidaloka", serif;
    color: #695049;
    margin-bottom: 20%;
    text-align: left;
  }
  .footer-container #footer a:link, a:visited{
    text-decoration: none;
     color: #8b7871;
     font-size: 16px;
     font-family: "Vidaloka", serif;
     line-height: 2;
  }
  .footer-container #footer a:hover {
    color: #a54c4f;
}
.input{
    height: 40px;
    line-height: 30px;
    font-size: 12px;
    background: white;
    border: none;
    border-radius: 6px;
    color: #8b7871;
    padding: 1% 4%;
}
.f1 {
  padding: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 60%;
  display: inline-block;
  transition: 0.3s;

}
.f1:hover {
    opacity: 0.7;
    color: #a54c4f;
 transform: rotateZ(360deg);
}
.fa-arrow-right i:hover{
  color: #a54c4f;
}
.fa-twitter {
  background: white;
  color: gray;

}
.fa-facebook {
  background: white;
  color: gray;
}
.fa-google-plus {
  background: white;
  color: gray;
}
.fa-pinterest {
  background: white;
  color: gray;
}
